h2{
    text-align: right;
    color: blueviolet;
}
h1{
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
    }
    body{
        background-color: beige;
    }
h3{
    color: blueviolet;
}
div{
    color:blue;
}